.App {
  min-height: 100vh;
}

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: solid 1.5px rgb(161, 161, 161);
  border-radius: 25px;
  color: gray;
  width: 25%;
  padding: 2px 10px;
}

.vote_count {
  justify-content: space-between;
}

.edit_delete {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.center {
  display: flex;
  justify-content: center;
}

.wrap_global {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.flex_end {
  display: flex;
  justify-content: flex-end;
}

.container_global,
.form_global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0px;
}

.form_global {
  width: 90%;
  max-width: 600px;
}

.title {
  font-size: 23px;
  font-family: "georgia";
  font-weight: bold;
  margin: 0px;
}

.small_text {
  font-size: 13px;
  font-family: "Arial";
  color: rgb(155, 155, 155);
  margin-right: 20px;
}
.center_text {
  text-align: center;
}
.article_title {
  font-size: 17px;
  font-weight: 700;
  margin: 10px 0px;
}

.article_body {
  font-size: 15px;
  font-weight: lighter;
  margin: 10px 0px;
}

.cancel {
  margin-left: 10px !important;
  background-color: red !important;
}

.profile_link {
  color: rgb(37, 93, 224);
  text-decoration: none;
  font-style: italic;
}
.link {
  text-decoration: none;
  color: black;
}
.remove_link_style {
  text-decoration: none;
}
.blue_color {
  color: rgb(37, 93, 224);
}
.blue {
  color: rgb(37, 93, 224);
  margin: 10px 0px;
}
.blue:hover {
  transition: transform 0.3s; /* Animation */
  color: rgb(4, 58, 184);
  transform: scale(1.05);
}

.green {
  color: rgb(59, 224, 37);
}
.green:hover {
  transition: transform 0.3s; /* Animation */
  color: rgb(11, 124, 11);
  transform: scale(1.05);
}

.red {
  color: rgb(224, 49, 37);
}

.red:hover {
  transition: transform 0.3s; /* Animation */
  transform: scale(1.05);

  color: rgb(156, 10, 0);
}

.point {
  cursor: pointer;
}

.bg_smoke {
  background-color: whitesmoke;
}

.input_comment {
  margin: 15px 0px 15px 0px;
  padding: 3px 10px;
}

.text_margin {
  margin: 10px 0px -10px 0px;
}

.gray_border {
  border: solid 1.5px rgb(221, 220, 220);
  border-radius: 5px;
}

.scale_animation {
  animation-name: popup;
  animation-duration: 0.4s;
}
@keyframes popup {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.hide {
  display: none;
}

.behind {
  z-index: 0 !important;
}

.pl-5 {
  padding-left: 5%;
}

.my-10 {
  margin: 10px 0px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-5 {
  margin-left: 5px;
}

.width_select {
  width: 18%;
}

.width100 {
  width: 100% !important;
}

.width30 {
  width: 30%;
  margin: 10px 0px !important;
}

.full_height {
  min-height: 100vh;
}

.mr-2 {
  margin-right: 5px !important;
}

.p-2 {
  padding: 20px 3px !important;
  border-radius: 25px !important;
  border: solid 1.5px rgb(161, 161, 161) !important;
}

.thick_boarder {
  border: solid 1.5px rgb(161, 161, 161) !important;
}

@media (max-width: 680px) {
  .pc {
    display: none;
  }

  .p-2 {
    padding: 20px 1px !important;
    width: 70px;
  }
  .mt-mobile-4 {
    margin-top: 4px !important;
  }

  .vote_count {
    justify-content: center;
  }
}

@media (max-width: 950px) {
  .select_width {
    width: 60px;
  }
}
